{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
<div class="card mb-2 card1">
  <div class="row no-gutters">
    <div class="col-md-3">
      <img src="{{ post.author.profile.image.url }}" class="card-img" alt="...">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h5>
        <p class="card-text">{{ post.content | safe | truncatechars:125 }}</p>
        <a class="card-text" href="{% url 'user-posts' post.author.username %}"><small class="text-muted">{{ post.author }}</small></a>
        <p class="card-text"><small class="text-muted">Posted on {{ post.date_posted }}</small></p>
      </div>
    </div>
  </div>
</div>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}