{% extends 'blog/base.html' %}
{% block content %}
    <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                
                <small class="text-muted">Posted on: {{ object.date_posted|date:"F d, Y" }}</small>
                {% if object.author == user %}
                    
                        <a class="btn btn-outline-info btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}"><i class="fas fa-edit fa-fw"></i></a>
                        <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}"><i class="fas fa-minus-circle fa-fw"></i></a>
                    
                {% endif %}
                
            </div>
                <h2 class="article-title">{{ object.title }}</h2>
                <p class="article-content">{{ object.content | safe }}</p>
                <form action="{% url 'like_post' %}" method="post">
                {% csrf_token %}
                {% if is_liked %}
                <button type="submit" 
                        name="post_id" 
                        value="{{ post.id }}" 
                        class=" btn btn-outline-danger btn-sm mt-2">
                        <i class="fas fa-thumbs-down fa-fw"></i>
                </button>
                {% else %}
                <button type="submit" 
                        name="post_id" 
                        value="{{ post.id }}" 
                        class=" btn btn-outline-primary btn-sm mt-2">
                        <i class="fas fa-thumbs-up fa-fw"></i>
                </button>
                {% endif %}
            <p class="badge badge-primary ml-2">&nbsp;Likes: {{ post.likes.count }}</p>
            </form>
        </div>
</article>
{% endblock content %}


