{% extends 'blog/base.html' %}
{% block content %}
{% for post in queryset %}
<div class="card mb-2 card1">
  <div class="row no-gutters">
    <div class="col-md-3">
      <img src="{{ post.author.profile.image.url }}" class="card-img" alt="...">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h5>
        <p class="card-text">{{ post.content | safe | truncatechars:125 }}</p>
        <a class="card-text" href="{% url 'user-posts' post.author.username %}"><small class="text-muted">{{ post.author }}</small></a>
        <p class="card-text"><small class="text-muted">Posted on {{ post.date_posted }}</small></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}